<footer class="border-top footer text-muted">
  <div class="container">
    &copy; 2019 Created by Group 6, ISM6225, <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a> |
    Data provided for free by IEX. View <a href="https://iextrading.com/api-exhibit-a" target="_blank">IEX’s Terms of Use</a>.
  </div>
</footer>