<footer class="border-top footer text-muted">
  <div class="container text-center p-2">
    <small>
      &copy; 2019 Created by Group 6, ISM6225, <a asp-controller="Home" asp-action="Privacy" class="text-muted">Privacy Policy</a> &mdash;
      Data provided for free by IEX. View <a class="text-muted" href="https://iextrading.com/api-exhibit-a" target="_blank">IEX’s Terms of Use</a>.
    </small>
  </div>
</footer>