<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <partial name="_StyleSheets" />
  @RenderSection("Head", required: false)

  <title>@ViewData["Title"] - My Stock Portfolio</title>
</head>
<body>
  <partial name="_NavBar" />
  
  @RenderBody()

  <partial name="_Scripts" />

  @RenderSection("Scripts", required: false)
</body>
</html>
