
@{
  ViewData["Title"] = "Equity";
}

<div class="block-heading">
  <h2 class="text-info">Equity</h2>
</div>

<div class="block-content">
    <h4 class="m-3">40 of the most viewed equity based financials on this site</h4>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Symbol</th>
        </tr>
        <tr>
            <td>Alphabet</td>
            <td>GOOGL</td>
        </tr>
        <tr>
            <td>Amazon.com, Inc.</td>
            <td>AMZN</td>
        </tr>
        <tr>
            <td>Apple</td>
            <td>AAPL</td>
        </tr>
        <tr>
            <td>Archer Daniels Midland Co.</td>
            <td>ADM</td>
        </tr>
        <tr>
            <td>AT&ampT</td>
            <td>T</td>
        </tr>
        <tr>
            <td>Bank of America (Merrill Lynch Capital Trust)</td>
            <td>MER-K</td>
        </tr>
        <tr>
            <td>BP plc</td>
            <td>BP</td>
        </tr>
        <tr>
            <td>Caterpillar</td>
            <td>CAT</td>
        </tr>
        <tr>
            <td>Citibank</td>
            <td>C</td>
        </tr>
        <tr>
            <td>Cisco</td>
            <td>CSCO</td>
        </tr>
        <tr>
            <td>Coca-Cola</td>
            <td>KO</td>
        </tr>
        <tr>
            <td>Dollar General Corp.</td>
            <td>DG</td>
        </tr>
        <tr>
            <td>Easterly Gov’t Properties Inc. (REIT)</td>
            <td>DEA</td>
        </tr>
        <tr>
            <td>Exxon-Mobile</td>
            <td>XOM</td>
        </tr>
        <tr>
            <td>Facebook, Inc.</td>
            <td>FB</td>
        </tr>
        <tr>
            <td>Ford Motor Corp.</td>
            <td>F</td>
        </tr>
        <tr>
            <td>General Electric Inc.</td>
            <td>GE</td>
        </tr>
        <tr>
            <td>General Motors</td>
            <td>GM</td>
        </tr>
        <tr>
            <td>Global-X Robotics / AI  (ETF)</td>
            <td>BOTZ</td>
        </tr>
        <tr>
            <td>Goldman Sachs </td>
            <td>GS</td>
        </tr>
        <tr>
            <td>Home Depot Inc.</td>
            <td>HD</td>
        </tr>
        <tr>
            <td>IBM Corporation</td>
            <td>IBM</td>
        </tr>
        <tr>
            <td>Intel Corporation</td>
            <td>INTC</td>
        </tr>
        <tr>
            <td>Johnson &amp Johnson </td>
            <td>JNJ</td>
        </tr>
        <tr>
            <td>JPMorgan Chase &amp Company </td>
            <td>JPM</td>
        </tr>
        <tr>
            <td>McDonalds Corp. </td>
            <td>MCD</td>
        </tr>
        <tr>
            <td>Merck &amp Co., Inc. </td>
            <td>MRK</td>
        </tr>
        <tr>
            <td>Microsoft Corporation </td>
            <td>MSFT</td>
        </tr>
        <tr>
            <td>Monster Beverage Corp. </td>
            <td>MNST</td>
        </tr>
        <tr>
            <td>Netflix Inc. </td>
            <td>NFLX</td>
        </tr>
        <tr>
            <td>Nvidia Corporation </td>
            <td>NVDA</td>
        </tr>
        <tr>
            <td>OrganiGram Holdings Inc. </td>
            <td>OGRMF</td>
        </tr>
        <tr>
            <td>PepsiCo, Inc. </td>
            <td>PEP</td>
        </tr>
        <tr>
            <td>Procter &amp Gamble </td>
            <td>PG</td>
        </tr>
        <tr>
            <td>Royal Dutch Shell plc </td>
            <td>RDS.A</td>
        </tr>
        <tr>
            <td>UnitedHealth </td>
            <td>UNH</td>
        </tr>
        <tr>
            <td>Walmart Inc. </td>
            <td>WMT</td>
        </tr>
        <tr>
            <td>Walt Disney Company </td>
            <td>DIS</td>
        </tr>
        <tr>
            <td>Walgreen </td>
            <td>WBA</td>
        </tr>
        <tr>
            <td>Xerox Corporation </td>
            <td>XRX</td>
        </tr>
    </table>
</div>



