
@{
  ViewData["Title"] = "FixedIncome";
}

<div class="block-heading">
  <h2 class="text-info">Fixed Income</h2>
</div>

<div class="block-content">

    <h3>Research Daily Treasury Yield Curve Rates:</h3>
    <b />
    <!--<h4>Site Shows:</h4>-->
    <p>1 Mo,	2 Mo,	3 Mo,	6 Mo,	1 Yr,	2 Yr,	3 Yr,	5 Yr,	7 Yr,	10 Yr,	20 Yr,	30 Yr</p>

    <h5>Click Link below to view Treasury Rates</h5>
    <a href="https://www.treasury.gov/resource-center/data-chart-center/interest-rates/pages/textview.aspx?data=yield">www.treasury.gov</a>

</div>


