
@{
  ViewData["Title"] = "FixedIncome";
}

<div class="block-heading">
  <h2 class="text-info">Fixed Income</h2>
</div>

<div class="block-content">

    <h3>Research Daily Treasury Yield Curve Rates:</h3>
    <b />
    <!--<h4>Site Shows:</h4>-->
    <ul>
        <li>T-Bills -- Maturity 1 Month to 1 Year</li>
        <li>T-Notes -- Maturity 2 Year to 10 Year</li>
        <li>T-Bonds -- Maturity 20 Year and 30 Year</li>
    </ul>
    <h5>Click Link below to view Treasury Rates</h5>
    <a href="https://www.treasury.gov/resource-center/data-chart-center/interest-rates/pages/textview.aspx?data=yield" rel="noopener noreferrer" target="_blank">www.treasury.gov</a>

    <h6 class="m-3">Click the "Treasury Direct" site below to buy Treasuries directly from the Treasury</h6>
    <a href="https://www.treasurydirect.gov/" rel="noopener noreferrer" target="_blank">www.treasurydirect.gov</a>

    <h6 class="m-3">See below link to Educate Yourself and look up Municipal Bonds</h6>
    <a href="https://www.municipalbonds.com/" rel="noopener noreferrer" target="_blank">www.municipalbonds.com</a>
</div>


