
@{
  ViewData["Title"] = "MutualFunds";
}

<div class="block-heading">
  <h2 class="text-info">Mutual Funds</h2>
</div>

<div class="block-content">
    <h4 class="m-3">Growth &amp Income</h4>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Symbol</th>
        </tr>
        <tr>
            <td>Vanguard Growth & Income</td>
            <td>VQNPX</td>
        </tr>
        <tr>
            <td>Fidelity Growth & Income</td>
            <td>FGRIX</td>
        </tr>
        <tr>
            <td>Schwab Growth & Income</td>
            <td>SWKRX</td>
        </tr>
    </table>

    <h4 class="m-3">Target Date Funds</h4>
    <h5 class="m-3"><b>Vanguard</b></h5>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Symbol</th>
        </tr>
        <tr>
            <td>Target Retirement 2020</td>
            <td>VTWNX</td>
        </tr>
        <tr>
            <td>Target Retirement 2025</td>
            <td>VTTVX</td>
        </tr>
        <tr>
            <td>Target Retirement 2030</td>
            <td>VTHRX</td>
        </tr>
        <tr>
            <td>Target Retirement 2035</td>
            <td>VTTHX</td>
        </tr>
        <tr>
            <td>Target Retirement 2040</td>
            <td>VFORX</td>
        </tr>
        <tr>
            <td>Target Retirement 2045</td>
            <td>VTIVX</td>
        </tr>
        <tr>
            <td>Target Retirement 2050</td>
            <td>VFIFX</td>
        </tr>
        <tr>
            <td>Target Retirement 2055</td>
            <td>VFFVX</td>
        </tr>
        <tr>
            <td>Target Retirement 2060</td>
            <td>VTTSX</td>
        </tr>
    </table>

    <h5 class="m-3"><b>Fidelity</b></h5>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Symbol</th>
        </tr>
        <tr>
            <td>Target Retirement 2020</td>
            <td>FFFDX</td>
        </tr>
        <tr>
            <td>Target Retirement 2025</td>
            <td>FFTWX</td>
        </tr>
        <tr>
            <td>Target Retirement 2030</td>
            <td>FFFEX</td>
        </tr>
        <tr>
            <td>Target Retirement 2035</td>
            <td>FFTHX</td>
        </tr>
        <tr>
            <td>Target Retirement 2040</td>
            <td>FFFFX</td>
        </tr>
        <tr>
            <td>Target Retirement 2045</td>
            <td>FFFGX</td>
        </tr>
        <tr>
            <td>Target Retirement 2050</td>
            <td>FFFHX</td>
        </tr>
        <tr>
            <td>Target Retirement 2055</td>
            <td>FDEEX</td>
        </tr>
        <tr>
            <td>Target Retirement 2060</td>
            <td>FDKVX</td>
        </tr>
    </table>
</div>

