
@{
  ViewData["Title"] = "OtherServices";
}

<div class="block-heading">
  <h2 class="text-info">Other Services</h2>
</div>

<div class="block-content">
    <h3>Research the below sites in your investment quest:</h3>
    <b />
    <p>
        Search various investment products and compare brokeage fees along<br />
        with any balance requirements
    </p>
    <h5 class="m-3">Click Link below to view Charles Schwab</h5>
    <a href="https://www.schwab.com/public/schwab/client_home" rel="noopener noreferrer" target="_blank">www.schwab.com</a>
    <h5 class="m-3">Click Link below to view The Vanguard Group</h5>
    <a href="https://investor.vanguard.com/corporate-portal/" rel="noopener noreferrer" target="_blank">www.investor.vanguard.com</a>
    <h5 class="m-3">Click Link below to view Fidelity Investments</h5>
    <a href="https://www.fidelity.com/" rel="noopener noreferrer" target="_blank">www.fidelity.com</a>
    <h5 class="m-3">Click Link below to view Global X (ETF's)</h5>
    <a href="https://www.globalxfunds.com/" rel="noopener noreferrer" target="_blank">www.globalxfunds.com</a>
</div>

