
@{
    ViewData["Title"] = "SPIndex";
}

<div class="block-heading">
    <h2 class="text-info">S &amp P Index Funds</h2>
</div>

<div class="block-content">
    <table>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
        </tr>
        <tr>
            <td>Vanguard 500 Index Fund</td>
            <td>VFINX</td>
        </tr>
        <tr>
            <td>Schwab S&P 500 Index Fund</td>
            <td>SWPPX</td>
        </tr>
        <tr>
            <td>Fidelity 500 Index Fund</td>
            <td>FXAIX</td>
        </tr>
    </table>

</div>

