.landing-page .clean-hero {
  background-image: url(../img/bg.jpg);
  color: rgba(9, 162, 255, 0.50);
}

.container.page {
  padding-top: 120px;
}
  .container.page .block-heading:first-of-type {
    padding-top: 0;
  }