
@{
  ViewData["Title"] = "Dashboard";
}

<div class="block-heading">
  <h2 class="text-info">Dashboard</h2>
</div>

<div class="block-content">

  <p class="text-center">
    You do not have any stocks saved as favorites.  Go to <a asp-controller="Portfolio" asp-action="Index">favorites</a> to start adding stocks.
  </p>

</div>