@{
  ViewData["Title"] = "About Us";
}

<section class="about-us">
  <div class="block-heading">
    <h2 class="text-info">About Us</h2>
    <p class="mb-3">Business and technical professionals here to help guide you through your investment portfolio questions.</p>
    <p><b><i>You are not alone in your investment journey.</i></b></p>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-4 col-lg-3">
      <div class="card clean-card text-center">
        <img class="card-img-top w-100 d-block" src="~/img/Jim.jpg">
        <div class="card-body info">
          <h4 class="card-title">James Farley</h4>
          <p class="card-text">Finance Manager</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-lg-3">
      <div class="card clean-card text-center">
        <img class="card-img-top w-100 d-block" src="~/img/Venkat.jpg">
        <div class="card-body info">
          <h4 class="card-title">Venkatesh Prassana Murthy</h4>
          <p class="card-text">Cloud Specialist</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-lg-3">
      <div class="card clean-card text-center">
        <img class="card-img-top w-100 d-block" src="~/img/Manny.jpg">
        <div class="card-body info">
          <h4 class="card-title">Manny Tirado</h4>
          <p class="card-text">Software Developer</p>
        </div>
      </div>
    </div>
  </div>
</section>
