@{
  ViewData["Title"] = "About Us";
}

<section class="about-us">
  <div class="block-heading">
    <h2 class="text-info">About Us</h2>
    <p class="mb-3">Business and technical professionals here to help guide you through your investment portfolio questions.</p>
    <p><b><i>You are not alone in your investment journey.</i></b></p>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-4 col-lg-3">
        <div class="card clean-card text-center">
            <img class="card-img-top w-100 d-block" src="~/img/Jim.jpg">
            <div class="card-body info">
                <h4 class="card-title">James Farley</h4>
                <p class="card-text">Finance Manager</p>
            </div>
            <button onclick="myFunction()">Bio</button>
            <script>
                function myFunction() {
                    alert("A finance and analytics professional with over twenty years of investment"+"\n"+
                            "banking experience.Experience includes equities, fixed income, derivatives and"+"\n"+
                              "commodities in trading, middle - office and back - office and operations roles.James"+"\n"+
                              "has an MBA and B.S.in Finance from St.John’s University along with pursuing"+"\n"+
                          "an MS Business Analytics / Information Systems at the University of South Florida"+"\n"+
                    "and bachelors in Data Analytics from St.Petersburg College.");
                }
            </script>
        </div>
    </div>
    <div class="col-sm-4 col-lg-3">
        <div class="card clean-card text-center">
            <img class="card-img-top w-100 d-block" src="~/img/Venkat.jpg">
            <div class="card-body info">
                <h4 class="card-title">Venkatesh P. Murthy</h4>
                <p class="card-text">Cloud Specialist</p>
            </div>
            <button onclick="myFunction()">Bio</button>
            <script>
                function myFunction() {
                    alert("Cloud engineer and an IT professional for more than 15 years, Venkat is responsible for any technological duties associated with cloud computing, including design, planning, management, maintenance and support for the organization." + "\n" +
                        "As a cloud computing specialist, he has good experience in system architecture, troubleshooting skills, Virtualization technology skills, systems architecture skills, excellent collaborative skills, and strong analytical reasoning." + "\n" +
                        "As a cloud computing specialist, he is able to effectively weigh the potential risks of IT solutions against a company's IT needs.");
                }
            </script>
        </div>
    </div>
    <div class="col-sm-4 col-lg-3">
        <div class="card clean-card text-center">
            <img class="card-img-top w-100 d-block" src="~/img/Manny.jpg">
            <div class="card-body info">
                <h4 class="card-title">Manny Tirado</h4>
                <p class="card-text">Software Developer</p>
            </div>
            <button onclick="myFunction()">Bio</button>
            <script>
                function myFunction() {
                    alert("Emanuel is a Senior Business Intelligence Analyst and Software Developer, with nearly ten years of professional experience, Emanuel manages the data warehousing and reporting operations for multiple business segments across the country." + "\n" +
                        "He also assists management with process automation solutions and creates tools to support the evolving needs of the business. His experience includes SQL Server, SQL Server Integration Services, SQL Server Reporting Services, C#, ASP.NET MVC, and JavaScript. " + "\n" +
                        "Emanuel obtained a Bachelor’s Degree in Computer Science with a concentration in Cybersecurity and Information Assurance from Florida Polytechnic University. He was a member of the university's inaugural class and graduated Summa Cum Laude in 2017.");
                }
            </script>
        </div>
    </div>
  </div>
</section>
