@{
  ViewData["Title"] = "Home Page";
  Layout = "_LayoutFS";
}

<main class="page landing-page">
  <section class="clean-block clean-hero">
    <div class="text">
      <h2>Keep track of your stock portfolio.</h2>
      <p>Real time stock and options research.</p>
      <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-outline-light btn-lg">Sign Up</a>
    </div>
  </section>
  <section class="clean-block clean-info dark">
    <div class="container">
      <div class="block-heading">
          <h2 class="text-info">
              Investment Options
          </h2>
        <p>Visualize.</p>
      </div>
      <div class="row align-items-center">
        <div class="col-md-6"><img class="img-thumbnail" src="~/img/chart.png"></div>
        <div class="col-md-6">
            <h3>The Ideal Investment Portfolio</h3>
            <div class="getting-started-info">
                <p>When it comes to investing, one of the leading factors in deciding the diversification between fixed-income and equities, is the level of risk an investor is willing to have in their portfolio. </p>
            </div><button class="btn btn-outline-primary btn-lg" type="button">Join Now</button>
        </div>
      </div>
    </div>
  </section>
  <section class="clean-block features">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Features</h2>
        <p>
            Trying to advise on how to research an investment portfolio based on risk, age, years till retirement, amount to invest as percentage of income and net worth.
            The user can research Treasury Securities, Equities, Mutual Funds, ETF’s, Municipal Bonds and more.
        </p>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-5 feature-box">
          <i class="fas fa-star icon"></i>
          <h4>Bootstrap 4</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
        </div>
        <div class="col-md-5 feature-box">
          <i class="fas fa-cloud icon"></i>
          <h4>Cloud Based</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
        </div>
        <div class="col-md-5 feature-box">
          <i class="fas fa-mobile-alt icon"></i>
          <h4>Responsive</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
        </div>
        <div class="col-md-5 feature-box">
          <i class="fas fa-lock icon"></i>
          <h4>Secure</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
        </div>
      </div>
    </div>
  </section>
</main>
<footer class="page-footer dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h5>Get started</h5>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Sign up</a></li>
          <li><a href="#">Downloads</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h5>About us</h5>
        <ul>
          <li><a href="#">Company Information</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Reviews</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h5>Legal</h5>
        <ul>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© @DateTime.Now.Year | Data provided for free by IEX. View <a href="https://iextrading.com/api-exhibit-a" target="_blank">IEX’s Terms of Use</a>.</p>
  </div>
</footer>