@model Assignment3_S19.Models.AdminForm

@{
    ViewData["Title"] = "Site Administration";
}

<section class="admin-page">
  <div class="block-heading">
    <h2 class="text-info">Site Administration</h2>
  </div>

  <form id="reload-companies-form" method="post" asp-controller="Admin" asp-action="LoadCompanies">
    <div class="form-group">
      <label>Symbols In Database:</label>
      <input class="form-control" type="text" readonly value="@Model.CompanyCount" />
    </div>
    <button type="submit" id="submit-button" class="btn btn-primary">Reload</button>
  </form>
</section>

@section Scripts {
  <script>
    const form = document.getElementById("reload-companies-form");
    const submitButton = document.getElementById("submit-button");

    form.addEventListener("submit", () => {
      submitButton.setAttribute("disabled", "disabled");
    });
  </script>
}


