@model Assignment3_S19.Models.ApplicationUser

@{
  ViewData["Title"] = "My Portfolio";
}

<div class="block-heading">
  <h2 class="text-info">Your Portfolio</h2>
</div>

<div class="block-content">

  <ul class="nav nav-pills d-flex justify-content-center mb-4" id="pills-tab">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="pill" href="#search-by-company">By Company</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#search-by-symbol">By Symbol</a>
    </li>
  </ul>

  <div class="tab-content" id="search-tabs-content">
    <div class="tab-pane fade show active" id="search-by-company">
      <form method="post" asp-controller="Portfolio" asp-action="AddStock">
        <input type="hidden" name="symbol" id="symbol-hidden" />

        <div class="form-group text-center">
          <label class="col-form-label-lg mr-3" for="search-text">Search for companies:</label>

          <input type="text" id="search-text" placeholder="Company Name..." />

          <button type="submit" id="add-company-button" disabled class="btn btn-primary btn-lg ml-1">Add</button>
        </div>
      </form>
    </div>
    <div class="tab-pane fade" id="search-by-symbol">
      <form method="post" asp-controller="Portfolio" asp-action="AddStock">
        <div class="form-group text-center">
          <label class="col-form-label-lg mr-3" for="search-text">Enter symbol:</label>

          <input type="text" name="symbol" id="symbol-value" class="tt-query" style="vertical-align: middle;" placeholder="e.g. GOOGL" />

          <button type="submit" id="add-company-by-symbol-button" disabled class="btn btn-primary btn-lg ml-1">Add</button>
        </div>
      </form>
    </div>
  </div>

</div>

<div class="block-content">

  @if (TempData["message"] != null)
  {
    <div id="message" class="alert alert-@(TempData["messageType"] != null ? TempData["messageType"].ToString() : "info")" role="alert">
      @TempData["message"].ToString()
    </div>
  }

  <ul class="list-group">
    @foreach (var stock in Model.UserStocks)
    {
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="d-block flex-grow-0 col-2">@stock.Symbol</span>
        <span class="d-block flex-grow-1 text-left">@stock.Company.Name</span>

        <button class="btn btn-link btn-sm text-muted delete-button" data-symbol="@stock.Symbol"><i class="fas fa-times-circle"></i> Remove</button>
      </li>
    }
  </ul>
</div>

<form id="remove-symbol-form" method="post" asp-controller="Portfolio" asp-action="RemoveStock">
  <input type="hidden" id="symbol-to-remove" name="symbol" />
</form>

@section Head {
  <link href="~/css/typeahead.css" rel="stylesheet" />
}

@section Scripts {
  <script src="~/lib/typeahead.js/typeahead.bundle.js"></script>

  <script>
    var companies = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace("value"),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      remote: {
        url: "/Portfolio/SearchCompany?searchText=%QUERY",
        wildcard: "%QUERY"
      }
    });

    var searchTextBox = $("#search-text");
    var submitButton = $("#add-company-button");
    var symbolToBeAdded = $("#symbol-hidden");
    var addBySymbolValue = $("#symbol-value");
    var addBySymbolButton = $("#add-company-by-symbol-button");

    searchTextBox.typeahead({
      classNames: {
        input: "tt-query"
      }
    }, {
        display: "label",
        source: companies
      });

    searchTextBox.bind("typeahead:select", function (ev, suggestion) {
      if (typeof suggestion === "object") {
        submitButton.prop("disabled", false);
        symbolToBeAdded.val(suggestion.value);
      }
    });

    addBySymbolValue.bind("keyup", function (ev) {
      addBySymbolButton.prop("disabled", ev.target.value === "");
    });

    var deleteButton = $(".delete-button");
    var symbolToRemove = $("#symbol-to-remove");
    var removeSymbolForm = $("#remove-symbol-form");

    deleteButton.on("click", function () {
      var symbol = $(this).data("symbol");
      symbolToRemove.val(symbol);
      removeSymbolForm.submit();
    });

    setTimeout(function () {
      $("#message").fadeOut(500)
    }, 3000);
  </script>
}