@model Assignment3_S19.Models.ApplicationUser

@{
  ViewData["Title"] = "My Portfolio";
}

<div class="block-heading">
  <h2 class="text-info">Your Portfolio</h2>
</div>

<div class="block-content">
  <form method="post" asp-controller="Portfolio" asp-action="AddStock">
    <input type="hidden" name="symbol" id="symbol-hidden" />

    <div class="form-group text-center">
      <label class="col-form-label-lg mr-3" for="search-text">Search for companies:</label>

      <input type="text" id="search-text" placeholder="Company Name..." />

      <button type="submit" id="add-company-button" disabled class="btn btn-primary btn-lg ml-1">Add</button>
    </div>
  </form>
</div>

<div class="block-content">

  @if (ViewData["message"] != null)
  {
    <div id="message" class="alert alert-success" role="alert">
      @ViewData["message"].ToString()
    </div>
  }

  <ul class="list-group">
    @foreach (var stock in Model.UserStocks)
    {
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="d-block flex-grow-0 col-2">@stock.Symbol</span>
        <span class="d-block flex-grow-1 text-left">@stock.Company.Name</span>

        <button class="btn btn-link btn-sm text-muted delete-button" data-symbol="@stock.Symbol"><i class="fas fa-times-circle"></i> Remove</button>
      </li>
    }
  </ul>
</div>

<form id="remove-symbol-form" method="post" asp-controller="Portfolio" asp-action="RemoveStock">
  <input type="hidden" id="symbol-to-remove" name="symbol" />
</form>

@section Head {
  <link href="~/css/typeahead.css" rel="stylesheet" />
}

@section Scripts {
  <script src="~/lib/typeahead.js/typeahead.bundle.js"></script>

  <script>
    var companies = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace("value"),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      remote: {
        url: "/Portfolio/SearchCompany?searchText=%QUERY",
        wildcard: "%QUERY"
      }
    });

    var searchTextBox = $("#search-text");
    var submitButton = $("#add-company-button");
    var symbolToBeAdded = $("#symbol-hidden");

    searchTextBox.typeahead({
      classNames: {
        input: "tt-query"
      }
    }, {
      display: "label",
      source: companies
      });

    searchTextBox.bind("typeahead:select", function(ev, suggestion) {
      if (typeof suggestion === "object") {
        submitButton.prop("disabled", false);
        symbolToBeAdded.val(suggestion.value);
      }
    });

    var deleteButton = $(".delete-button");
    var symbolToRemove = $("#symbol-to-remove");
    var removeSymbolForm = $("#remove-symbol-form");

    deleteButton.on("click", function () {
      var symbol = $(this).data("symbol");
      symbolToRemove.val(symbol);
      removeSymbolForm.submit();
    });

    setTimeout(function () {
      $("#message").fadeOut(500)
    }, 3000);
  </script>
}